<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="usucai" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="logo,素材,素材下载,logo下载,矢量素材,素材下载,矢量logo,UI设计,设计,图标,设计素材,design,logo设计,平面设计,UI设计,网站设计,APP设计" />
	<meta name="description" content="优素材(usucai),设计师素材下载,专为UI设计,网页设计,平面设计等提供便利的平台" />
	<link rel="shortcut icon " type="images/x-icon" href="images/favicon.png">
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="57x57" href="${ctxPath}/images/web/apple/apple-icon-57x57.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="60x60" href="${ctxPath}/images/web/apple/apple-icon-60x60.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="72x72" href="${ctxPath}/images/web/apple/apple-icon-72x72.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="76x76" href="${ctxPath}/images/web/apple/apple-icon-76x76.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="114x114" href="${ctxPath}/images/web/apple/apple-icon-114x114.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="120x120" href="${ctxPath}/images/web/apple/apple-icon-120x120.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="144x144" href="${ctxPath}/images/web/apple/apple-icon-144x144.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="152x152" href="${ctxPath}/images/web/apple/apple-icon-152x152.png"/>
	<link data-react-helmet="true" rel="apple-touch-icon" sizes="180x180" href="${ctxPath}/images/web/apple/apple-icon-180x180.png"/>
	<link rel="stylesheet" href="${ctxPath}/css/web/style.css">
	<link href="${ctxPath}/js/plugins/layui/css/layui.css?v=2.4.5" rel="stylesheet"/>
	<title>上传 - 优素材 (usucai)</title>
</head>
<body>
<div class="wrap">
	<header class="header">
		<nav class="nav">
			<div class="logo"><a class="usucai icon-logo" href="index.html"></a></div>
			<div class="menu-list clearfix">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li><a href="rank.html">下载排行</a></li>
					<li><a target="_blank" href="udesign.html">设计师导航</a></li>
				</ul>
			</div>
			<div class="topsearch"><a href="search.html" title="搜索" class="usucai icon-search"></a></div>
			<div class="upload"><a class="usucai icon-upload" title="上传" href="${ctxPath}/material/add"></a></div>
			<div class="user"><a href=""><img src="${ctxPath}/images/web/avatar/avatar_04.jpg" alt=""></a></div>
		</nav>
	</header>
	<div class="uploadcontent">
		<div class="add-logo">
			<h1>请上传文件</h1>
			<h2>文件<span>请上传 .svg 格式文件</span></h2>
			<div class="dropcontent">
				<button id="upload">添加文件</button>
				<img id="preview">
			</div>
			<form id="form1" class="layui-form mt" role="form" action="">
				<input type="text" id="url" name="url" style="display: none">
				<h2>品牌名称</h2>
				<input type="text" name="brand" placeholder="如：特斯拉、抖音或微软">
				<h2>关键词<span>关键词以英文逗号隔开</span></h2>
				<input type="text"  name="keywords" placeholder="品牌别名便于搜索">
				<h2>添加标签<span>标签可多选</span></h2>
				 <div class="addlabel">
					<div class="label-content clearfix">
						<a class="select">房地产业</a>
						<a>汽车行业</a>
						<a>电信行业</a>
						<a>电子行业</a>
						<a>纺织行业</a>
					</div>
					<input type="text" id="tags" name="tags" style="display: none">
				 </div>
				<a lay-filter="add" lay-submit class="upload-btn btn">上传</a>
			</form>
			<p class="notice">感谢你的分享，我们将在上传48小时后审核并发布您的文件</p>
		</div>
	</div>
	<footer class="footer">
		<div class="link"><a href="javascript:;">关于我们</a><a href="javascript:;">用户协议</a><a href="javascript:;">联系我们</a></div>
		<div class="social"><a href="" title="微信" class="usucai icon-wechat"></a><a href="" title="微博" class="usucai icon-weibo"></a></div>
		<div class="copyright">Copyright © 2021 Usucai. All Rights Reserved</div>
	</footer>
</div>

<script type="text/javascript" src="${ctxPath}/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${ctxPath}/js/plugins/layui/layui.js?v=2.4.5"></script>
<script type="text/javascript" src="${ctxPath}/js/common.js"></script>
<script>
	$(".label-content a").click(function () {
		$(this).toggleClass("select");
	});

	layui.use('form', function(){
		const form = layui.form;

		//监听提交
		form.on('submit(add)', function(data){
			const fields = data.field;
			const url = $.trim(fields.url);
			const brand = $.trim(fields.brand);
			const keywords = $.trim(fields.keywords);
			const tags = $.trim(fields.tags);

			if (!url) {
				layer.msg('请选择文件');
				return
			}
			if (!brand) {
				layer.msg('请输入品牌');
				return
			}
			if (!keywords) {
				layer.msg('请输入关键词');
				return
			}
			if (!tags) {
				layer.msg('请添加标签');
				return
			}
			util.post("${ctxPath}/material/add", fields, function(res){
				if(res.code==200){
					layer.msg("上传成功！")
				}else{
					layer.open({
						content: data.msg==null?"上传失败":data.msg,
						btn: '我知道了'
					});
				}
			});
			return false;
		});
	});

	layui.use('upload', function(){
		var upload = layui.upload;

		//执行实例
		var uploadInst = upload.render({
			elem: '#upload', //绑定元素
			url: '${ctxPath}/common/upload', //上传接口
			accept: 'file',
			exts: 'jpg|png|gif|bmp|jpeg|svg',
			done: function(data){
				console.log(data);
				if (data.code == 200) {
					layer.msg("上传成功！");
					$("#url").val(data.data);
					$("#preview").attr("src", data.data);
				}else {
					layer.msg(data.msg);
				}
			},
			error: function(){
				//请求异常回调
			}
		});
	});
</script>
</body>
</html>