<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%include("inc/link.html"){}%>
	<link href="${ctxPath}/js/plugins/layui/css/layui.css?v=2.4.5" rel="stylesheet"/>
	<title>上传 - 优素材 (usucai)</title>
</head>
<body>
<div class="wrap">
	<%include("inc/header.html"){}%>
	<div class="uploadcontent">
		<div class="add-logo">
			<h1>请上传文件</h1>
			<h2>文件<span>请上传 .svg 格式文件</span></h2>
			<div class="dropcontent">
				<button id="upload">添加文件</button>
				<img id="preview">
			</div>
			<form id="form1" class="layui-form mt" role="form" action="">
				<input type="text" id="url" name="url" style="display: none">
				<h2>品牌名称</h2>
				<input type="text" name="brand" placeholder="如：特斯拉、抖音或微软">
				<h2>关键词<span>关键词以英文逗号隔开</span></h2>
				<input type="text"  name="keywords" placeholder="品牌别名便于搜索">
				<h2>添加标签<span>标签可多选</span></h2>
				 <div class="addlabel">
					<div class="label-content clearfix">
						<a class="select">房地产业</a>
						<a>汽车行业</a>
						<a>电信行业</a>
						<a>电子行业</a>
						<a>纺织行业</a>
					</div>
					<input type="text" id="tags" name="tags" style="display: none">
				 </div>
				<a lay-filter="add" lay-submit class="upload-btn btn">上传</a>
			</form>
			<p class="notice">感谢你的分享，我们将在上传48小时后审核并发布您的文件</p>
		</div>
	</div>
	<%include("inc/footer.html"){}%>
</div>

<script type="text/javascript" src="${ctxPath}/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="${ctxPath}/js/plugins/layui/layui.js?v=2.4.5"></script>
<script type="text/javascript" src="${ctxPath}/js/common.js"></script>
<script>
	$(".label-content a").click(function () {
		$(this).toggleClass("select");
	});

	layui.use('form', function(){
		const form = layui.form;

		//监听提交
		form.on('submit(add)', function(data){
			const fields = data.field;
			const url = $.trim(fields.url);
			const brand = $.trim(fields.brand);
			const keywords = $.trim(fields.keywords);
			const tags = $.trim(fields.tags);

			if (!url) {
				layer.msg('请选择文件');
				return
			}
			if (!brand) {
				layer.msg('请输入品牌');
				return
			}
			if (!keywords) {
				layer.msg('请输入关键词');
				return
			}
			if (!tags) {
				layer.msg('请添加标签');
				return
			}
			util.post("${ctxPath}/material/add", fields, function(res){
				if(res.code==200){
					layer.msg("上传成功！")
				}else{
					layer.open({
						content: data.msg==null?"上传失败":data.msg,
						btn: '我知道了'
					});
				}
			});
			return false;
		});
	});

	layui.use('upload', function(){
		var upload = layui.upload;

		//执行实例
		var uploadInst = upload.render({
			elem: '#upload', //绑定元素
			url: '${ctxPath}/common/upload', //上传接口
			accept: 'file',
			exts: 'jpg|png|gif|bmp|jpeg|svg',
			done: function(data){
				console.log(data);
				if (data.code == 200) {
					layer.msg("上传成功！");
					$("#url").val(data.data);
					$("#preview").attr("src", data.data);
				}else {
					layer.msg(data.msg);
				}
			},
			error: function(){
				//请求异常回调
			}
		});
	});
</script>
</body>
</html>