<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%include("inc/link.html"){}%>
	<script src="${ctxPath}/js/jquery.min.js" type="text/javascript"></script>
	<script src="${ctxPath}/js/main.js"></script>
	<title>Facebook Messenger - 优素材免费下载矢量图</title>
</head>
<body>
<div class="wrap">
	<%include("inc/header.html"){}%>
	<div class="sucai">
		<div class="sucai-content clearfix">
			<div class="sucai-view">
				<h2>${material.brand!}</h2>
				<div class="svg"><img src="${material.url!}?x-oss-process=image/resize,w_800" alt="${material.brand!}"></div>
				<p>本站所有资源仅供学习与参考，请勿用于商业用途,如有侵犯您的版权，请及时发邮件联系我们（usucai@outlook.com），我们将尽快处理。</p>
			</div>
			<div class="sucai-info">
				<a class="download-btn btn" href="${material.url!}">SVG 下载</a>
				<div class="info-list">
					<ul>
						<li>品牌名称：${material.brand!}</li>
						<li>文件格式：${material.fileFormat!}</li>
						<li>推荐软件：Sketch、PS、AI、Xd、Invision</li>
						<li>下载次数：${material.downloads!}</li>
						<li>版权所有：${material.copyright!}</li>
					</ul>
				</div>
				<div class="tag">
					<%
					for(tag in tags){
					%>
					<span>${tag.name!}</span>
					<%
					}
					%>
				</div>
				<div class="author">
					<img src="${ctxPath}/images/web/avatar/avatar_01.jpg" alt="usucai个人头像">
					<div class="author-name">${user!}</div>
					<div class="author-time">该素材由${user!}上传于${material.createTime!,"yyyy-MM-dd"}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="items">
		<h1>为您推荐</h1>
		<ul>
			<li>
				<a target="_blank" href="material.html">
					<div class="logo-content"><img src="${ctxPath}/images/web/default-img.svg" alt="优素材"></div>
					<span class="title">优素材</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="material.html">
					<div class="logo-content"><img src="${ctxPath}/images/web/default-img.svg" alt="优素材"></div>
					<span class="title">优素材</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="material.html">
					<div class="logo-content"><img src="${ctxPath}/images/web/default-img.svg" alt="优素材"></div>
					<span class="title">优素材</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="material.html">
					<div class="logo-content"><img src="${ctxPath}/images/web/default-img.svg" alt="优素材"></div>
					<span class="title">优素材</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="material.html">
					<div class="logo-content"><img src="${ctxPath}/images/web/default-img.svg" alt="优素材"></div>
					<span class="title">优素材</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="material.html">
					<div class="logo-content"><img src="${ctxPath}/images/web/default-img.svg" alt="优素材"></div>
					<span class="title">优素材</span>
				</a>
			</li>
		</ul>
	</div>
	<%include("inc/footer.html"){}%>
</div>
</body>
</html>