<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%include("inc/link.html"){}%>
	<link href="${ctxPath}/js/plugins/layui/css/layui.css?v=2.4.5" rel="stylesheet"/>
	<title>用户注册 - 优素材 (usucai)</title>
	<script type="text/javascript">
		window.onload =function(){
			const img = document.getElementById("image");
			const ran = Math.floor(Math.random() * 3);
			img.src = "${ctxPath}/images/web/random/" + ran + ".png";
		}		
	</script>
</head>
<body>
	<div class="login">
		<div class="login-box">
			<h1>用户注册<span>欢迎来到优素材网站，请注册您的账号</span></h1>
			<div class="login-content">
				<form id="form1" class="layui-form mt" role="form" action="">
					<label>账号</label>
					<div><input class="username" type="text" name="phone" placeholder="手机号码/账号"></div>
					<label>设置密码</label>
					<div><input class="username" type="password" name="password" placeholder="设置密码"></div>
					<label>手机验证码</label>
					<div>
						<input class="get" type="text" name="smsCode" placeholder="手机验证码">
						<a lay-filter="smsCode" lay-submit class="getcode">获取验证码</a>
					</div>
					<button lay-filter="register" lay-submit class="u-signin btn">立即注册</button>
				</form>
				<div class="login-info">为了保证您的信息安全，我们不会在优素材(usucai)以外使用您的信息。</div>
				<div class="login-info">已有账号？点击<a href="${ctxPath}/user/login">立即登录</a></div>
			</div>
			<div class="login-copyright">Copyright © 2021 Usucai. All Rights Reserved</div>
		</div>
		<div class="login-show">
			<div class="usucai icon-logo"></div>
			<p>设计，让世界更出彩</p>
			<div class="work-show"><img id="image" src="" alt=""></div>
		</div>
		
	</div>
	<script type="text/javascript" src="${ctxPath}/js/jquery.min.js?v=2.1.4"></script>
	<script type="text/javascript" src="${ctxPath}/js/plugins/layui/layui.js?v=2.4.5"></script>
	<script type="text/javascript" src="${ctxPath}/js/common.js"></script>

	<script>
		layui.use('form', function(){
			const form = layui.form;

			//监听提交
			form.on('submit(smsCode)', function(data){
				const fields = data.field;
				const phone = fields.phone;
				if (!phone) {
					layer.msg('请输入手机号码');
					return false;
				}
				if(!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))){
					layer.msg('请输入正确的手机号码');
					return false;
				}

				var smsFlag = true;
				var smsTime = 60;
				var codeStr = '获取验证码';
				util.post("${ctxPath}/sms/register", fields, function(res){
					if(res.code==200){
						layer.msg(res.msg);
						smsFlag = false;
						var max = smsTime;
						codeStr = max + 's';
						var timer = setInterval(function () {
							max--
							if (max >= 0) {
								codeStr = max + 's'
							} else {
								clearInterval(timer)
								codeStr = '重新获取'
								smsFlag = true
							}
							$(".getcode").html(codeStr);
						}, 1000)
					}else{
						layer.open({
							content: data.msg==null?"获取失败":data.msg,
							btn: '我知道了'
						});
					}
				});
				return false;
			});

			//监听提交
			form.on('submit(register)', function(data){
				const fields = data.field;
				const phone = $.trim(fields.phone);
				const password = $.trim(fields.password);
				const smsCode = $.trim(fields.smsCode);

				if (!phone) {
					layer.msg('请输入手机号码');
					return
				}
				if(!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))){
					layer.msg('请输入正确的手机号码');
					return false;
				}
				if (!password) {
					layer.msg('请输入密码');
					return
				}
				if (!smsCode) {
					layer.msg('请输入验证码');
					return
				}
				util.post("${ctxPath}/user/register", fields, function(res){
					if(res.code==200){
						location.href="${ctxPath}/";
					}else{
						layer.open({
							content: data.msg==null?"注册失败":data.msg,
							btn: '我知道了'
						});
					}
				});
				return false;
			});
		});
	</script>
</body>
</html>