<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%include("inc/link.html"){}%>
	<title>优素材 (usucai) - 免费下载矢量图</title>
</head>
<body>
<div class="wrap">
	<%include("inc/header.html"){}%>
	<div class="search-content">
		<div class="search-box">
			<div class="search">
				<input type="text" placeholder="搜索关键词，如：特斯拉、抖音或苹果">
				<a onclick="search()" class="search-button btn usucai icon-search"></a>
			</div>
		</div>
		<div class="Suggested">
			<span>推荐：</span>
			<a href="">特斯拉</a><a href="">苹果</a><a href="">360</a>
			<a href="">腾讯科技</a><a href="">万科</a><a href="">优素材</a>
			<a href="">华润万家</a>
		</div>
	</div>
	<div class="items">
		<ul>
			<%
			for(material in list){
			%>
			<li>
				<a target="_blank" href="${ctxPath}/material/${material.id!}">
					<div class="logo-content"><img src="${material.url!}" alt="${material.brand!}"></div>
					<span class="title">${material.brand!}</span>
				</a>
			</li>
			<%
			}
			%>
		</ul>
		<!--<a href="allvector.html" class="allvector">查看全部</a>-->
	</div>
	<%include("inc/footer.html"){}%>
	<a class="to-top usucai icon-totop"></a>
</div>


<script src="${ctxPath}/js/jquery.min.js" type="text/javascript"></script>
<script src="${ctxPath}/js/main.js"></script>
<script>
	function search() {

	}
</script>
</body>
</html>