<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%include("inc/link.html"){}%>
	<script type="text/javascript" src="${ctxPath}/js/jquery.min.js?v=2.1.4"></script>
	<script src="${ctxPath}/js/main.js"></script>
	<script>
		$(document).ready(function() {
			$("a.topLink").click(function() {
				$("html, body").animate({
					scrollTop: $($(this).attr("href")).offset().top + "px"}, {
						duration: 500,
						easing: "swing"
					});
				return false;
			});
		});
	</script>
	<title>设计师导航 - 免费下载矢量图</title>
</head>

<body>
	<main class="main">
		<aside class="sidebar">
			<div class="udesign-info">
				<a href="index.html" class="u-logo usucai icon-logo"></a>
				<p>打造设计师的收藏夹</p>
			</div>
			<div class="udesign-menu">
				<ul class="navigation">
					<li><a class="topLink" href="#aaa">设计平台</a></li>
					<li><a href="">灵感创意</a></li>
					<li><a href="">高清图库</a></li>
					<li><a href="">素材资源</a></li>
					<li><a href="">设计软件</a></li>
					<li><a href="">在线工具</a></li>
					<li><a href="">图标设计</a></li>
					<li><a href="">字体设计</a></li>
					<li><a href="">界面交互</a></li>
					<li><a href="">设计团队</a></li>
					<li><a href="">设计师们</a></li>
					<li><a href="">尺寸规范</a></li>
				</ul>
			</div>
		</aside>
		<section class="content">
			<div class="card">
				<h4 class="card-title">设计平台</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129114313869.png" alt="Medium" />
						<div class="udesign-content">
							<div class="udesign-heading">Medium</div>
							<p>高质量设计文章</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129114033529.png" alt="Producthunt" />
						<div class="udesign-content">
							<div class="udesign-heading">Producthunt</div>
							<p>发现新鲜有趣的产品</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101095940253.png" alt="花瓣设计" />
						<div class="udesign-content">
							<div class="udesign-heading">花瓣设计</div>
							<p>花瓣网的UI UX 设计专题。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101094418802.png" alt="Pinterest" />
						<div class="udesign-content">
							<div class="udesign-heading">Pinterest</div>
							<p>Pinterest来自全世界的 UX 设计作品收藏集。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129113306226.png" alt="Sketchfab" />
						<div class="udesign-content">
							<div class="udesign-heading">Sketchfab</div>
							<p>全球最极致3D设计模型在线展示平台</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129112747606.png" alt="68design" />
						<div class="udesign-content">
							<div class="udesign-heading">68design</div>
							<p>国内较早的网页设计社区，积攒了一批优质的网页这设计师群体及作品</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101053843418.png" alt="GAMEUI" />
						<div class="udesign-content">
							<div class="udesign-heading">GAMEUI</div>
							<p>游戏类UI设计师的作品展示与交流平台。 </p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101053258450.png" alt="UI中国" />
						<div class="udesign-content">
							<div class="udesign-heading">UI中国</div>
							<p>图形交互与界面设计交流、作品展示、学习平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101051108139.jpg" alt="站酷网" />
						<div class="udesign-content">
							<div class="udesign-heading">站酷网</div>
							<p>设计师交流平台，分享与学习的好去处。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101050852527.png" alt="UI8" />
						<div class="udesign-content">
							<div class="udesign-heading">UI8</div>
							<p>UI素材资源交易平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101043313530.png" alt="Behance" />
						<div class="udesign-content">
							<div class="udesign-heading">Behance</div>
							<p>Adobe旗下的设计师交流平台，来自世界各地的设计师在这里分享自己的作品。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191031103257993.png" alt="Dribbble" />
						<div class="udesign-content">
							<div class="udesign-heading">Dribbble</div>
							<p>设计师作品分享平台，个人作品交流与分享。</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">灵感创意</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20201106015440125.png" alt="SaaSFrame" />
						<div class="udesign-content">
							<div class="udesign-heading">SaaSFrame</div>
							<p>SaaS营销人员和产品设计师的灵感，浏览数百个SaaS营销页面，产品界面和电子...</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129051505487.png" alt="Deviantart" />
						<div class="udesign-content">
							<div class="udesign-heading">Deviantart</div>
							<p>分享各类艺术创作的设计社区</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129051305275.png" alt="ABDUZEEDO" />
						<div class="udesign-content">
							<div class="udesign-heading">ABDUZEEDO</div>
							<p>创意灵感和教程的设计博客</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129050921380.png" alt="Bestfolios" />
						<div class="udesign-content">
							<div class="udesign-heading">Bestfolios</div>
							<p>产品丨界面丨插画灵感设计画廊</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129050650237.png" alt="CSS设计奖 " />
						<div class="udesign-content">
							<div class="udesign-heading">CSS设计奖</div>
							<p>全球优秀CSS网页设计奖提名网</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129045331858.png" alt="淘靈感" />
						<div class="udesign-content">
							<div class="udesign-heading">淘靈感</div>
							<p>台湾灵感创意视觉资讯收集网</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191117121335816.png" alt="UpLabs" />
						<div class="udesign-content">
							<div class="udesign-heading">UpLabs</div>
							<p>设计作品展示、分析，设计素材下载，交易平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108093950448.png" alt="Abduzeedo" />
						<div class="udesign-content">
							<div class="udesign-heading">Abduzeedo</div>
							<p>每日分享高品质设计创意灵感</p>
						</div></a>
					</div>
					<div class="udesign-item">
						<a href="">
							<img src="${ctxPath}/images/web/navigation/20191106034118138.png" alt="iOS Icon Gallery" />
							<div class="udesign-content">
								<div class="udesign-heading">iOS Icon Gallery</div>
								<p>iOS App 图标欣赏。</p>
							</div>
						</a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191106034010471.jpg" alt="Designspiration" />
						<div class="udesign-content">
							<div class="udesign-heading">Designspiration</div>
							<p>发现、分享优秀的设计作品。 </p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191106033801408.jpg" alt="Iconsfeed" />
						<div class="udesign-content">
							<div class="udesign-heading">Iconsfeed</div>
							<p>iOS 应用图标收集展示。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191106033621811.jpg" alt="UI Garage" />
						<div class="udesign-content">
							<div class="udesign-heading">UI Garage</div>
							<p>网页设计、移动UI设计欣赏。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191104043351583.png" class="udesign-img"
							alt="OnePageMania" />
						<div class="udesign-content">
							<div class="udesign-heading">OnePageMania</div>
							<p>单页面CSS网站设计欣赏。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191104043053580.jpg" alt="SiteSee" />
						<div class="udesign-content">
							<div class="udesign-heading">SiteSee</div>
							<p>酷站欣赏，支持分类检索与搜索。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191104043004719.png" alt="Pttrns" />
						<div class="udesign-content">
							<div class="udesign-heading">Pttrns</div>
							<p>iOS Android Apps UI 设计欣赏，支持分类检索。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191104042716856.png" class="udesign-img"
							alt="Best Website Gallery" />
						<div class="udesign-content">
							<div class="udesign-heading">Best Website Gallery</div>
							<p>网站设计收集整理。</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title" id="aaa">高清图库</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129091154127.png" class="udesign-img"
							alt="HD Wallpapers" />
						<div class="udesign-content">
							<div class="udesign-heading">HD Wallpapers</div>
							<p>老牌高清壁纸和桌面背景资源网址。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129090835150.png" alt="Unsplash" />
						<div class="udesign-content">
							<div class="udesign-heading">Unsplash</div>
							<p>知名免费图库，免费下载高分辨率照片，可商用</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129090717148.png" alt="Pexels" />
						<div class="udesign-content">
							<div class="udesign-heading">Pexels</div>
							<p>推荐！提供高清尺寸且品质优良的免费照片网站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129090520896.png" alt="StockSnap" />
						<div class="udesign-content">
							<div class="udesign-heading">StockSnap</div>
							<p>超赞！先进的检索功能，瞬间拥有高质量免费图片</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129090403564.png" alt="Pixabay" />
						<div class="udesign-content">
							<div class="udesign-heading">Pixabay</div>
							<p>百万张免费高清图片，高质量可商用</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129085940365.png" alt="PNG素材库" />
						<div class="udesign-content">
							<div class="udesign-heading">PNG素材库</div>
							<p>推荐！最知名的PNG优质素材库。透明的、感动的</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191117121335816.png" alt="UpLabs" />
						<div class="udesign-content">
							<div class="udesign-heading">UpLabs</div>
							<p>设计作品展示、分析，设计素材下载，交易平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108095148392.png" alt="懒人图库" />
						<div class="udesign-content">
							<div class="udesign-heading">懒人图库</div>
							<p>设计资源与素材下载。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108095058342.jpg" alt="500px" />
						<div class="udesign-content">
							<div class="udesign-heading">500px</div>
							<p>高清摄影作品欣赏。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094954424.png" alt="FreeImages" />
						<div class="udesign-content">
							<div class="udesign-heading">FreeImages</div>
							<p>图片搜索引擎。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094845257.png" class="udesign-img"
							alt="HD wallpapers" />
						<div class="udesign-content">
							<div class="udesign-heading">HD wallpapers</div>
							<p>高清壁纸图库。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094720379.jpg" class="udesign-img"
							alt="Wallpaper Abyss" />
						<div class="udesign-content">
							<div class="udesign-heading">Wallpaper Abyss</div>
							<p>壁纸分享网站。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094557281.png" class="udesign-img"
							alt="Gratisography" />
						<div class="udesign-content">
							<div class="udesign-heading">Gratisography</div>
							<p>免费高清图库。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094311967.png" alt="Unsplash" />
						<div class="udesign-content">
							<div class="udesign-heading">Unsplash</div>
							<p>免费高清图库。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094219155.png" class="udesign-img"
							alt="InterfaceLIFT" />
						<div class="udesign-content">
							<div class="udesign-heading">InterfaceLIFT</div>
							<p>支持多尺寸的高清壁纸图库网站。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191108094130180.png" alt="Magdeleine" />
						<div class="udesign-content">
							<div class="udesign-heading">Magdeleine</div>
							<p>高清灵感图片资源下载。</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">素材资源</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129042126776.png" class="udesign-img"
							alt="GraphicsFuel" />
						<div class="udesign-content">
							<div class="udesign-heading">GraphicsFuel</div>
							<p>国外免费设计素材模板下载站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129041634101.png" class="udesign-img"
							alt="WORLD VECTOR LOGO" />
						<div class="udesign-content">
							<div class="udesign-heading">WORLD VECTOR LOGO</div>
							<p>超赞！知名Logo矢量资源下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129041221450.png" alt="Pixeden" />
						<div class="udesign-content">
							<div class="udesign-heading">Pixeden</div>
							<p>免费高质量设计素材模板分享</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129040703137.png" class="udesign-img"
							alt="Principlerepo" />
						<div class="udesign-content">
							<div class="udesign-heading">Principlerepo</div>
							<p>高质量Principle原型丨动效设计资源</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129040435919.png" alt="Texturer" />
						<div class="udesign-content">
							<div class="udesign-heading">Texturer</div>
							<p>3D建模纹理特效素材</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129040107929.png" class="udesign-img"
							alt="Graphictwister" />
						<div class="udesign-content">
							<div class="udesign-heading">Graphictwister</div>
							<p>平面海报、设备场景模板下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129033101486.png" class="udesign-img"
							alt="Mockup Zone" />
						<div class="udesign-content">
							<div class="udesign-heading">Mockup Zone</div>
							<p>收费高质量的专业mockup模板</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129032728809.png" alt="Firmbee" />
						<div class="udesign-content">
							<div class="udesign-heading">Firmbee</div>
							<p>Firmbee精品设备样机和场景mockup素材</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129032512342.png" class="udesign-img"
							alt="Shutterstock" />
						<div class="udesign-content">
							<div class="udesign-heading">Shutterstock</div>
							<p>全球最大的收费交易素材库</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129032332739.png" class="udesign-img"
							alt="Subtlepatterns" />
						<div class="udesign-content">
							<div class="udesign-heading">Subtlepatterns</div>
							<p>简洁大气的背景纹理素材</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129032212135.png" alt="Freepik" />
						<div class="udesign-content">
							<div class="udesign-heading">Freepik</div>
							<p>免费高质量矢量图下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191117121335816.png" alt="UpLabs" />
						<div class="udesign-content">
							<div class="udesign-heading">UpLabs</div>
							<p>设计作品展示、分析，设计素材下载，交易平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191101050852527.png" alt="UI8" />
						<div class="udesign-content">
							<div class="udesign-heading">UI8</div>
							<p>UI素材资源交易平台。</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">设计软件</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043555266.png" alt="Sketch" />
						<div class="udesign-content">
							<div class="udesign-heading">Sketch</div>
							<p>Mac 上的 UI UX 设计软件，堪称神器。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043435535.png" class="udesign-img"
							alt="Affinity Designer" />
						<div class="udesign-content">
							<div class="udesign-heading">Affinity Designer</div>
							<p>媲美PS的设计软件新秀。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043346102.png" class="udesign-img"
							alt="Adobe Photoshop CC" />
						<div class="udesign-content">
							<div class="udesign-heading">Adobe Photoshop CC</div>
							<p>数字图像设计的全新体验。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043246626.png" class="udesign-img"
							alt="Adobe Illustrator CC" />
						<div class="udesign-content">
							<div class="udesign-heading">Adobe Illustrator CC</div>
							<p>行业标准的矢量图形设计软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043137394.png" class="udesign-img"
							alt="Adobe After Effects CC" />
						<div class="udesign-content">
							<div class="udesign-heading">Adobe After Effects CC</div>
							<p>数字动画 动效设计软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043110638.png" alt="Pixelmator" />
						<div class="udesign-content">
							<div class="udesign-heading">Pixelmator</div>
							<p>轻型的Mac版图像设计、处理软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114043033445.png" class="udesign-img"
							alt="Adobe Animate CC" />
						<div class="udesign-content">
							<div class="udesign-heading">Adobe Animate CC</div>
							<p>矢量动画设计软件（原Adobe Flash）。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042937539.png" alt=" Squash 2" />
						<div class="udesign-content">
							<div class="udesign-heading">Squash 2</div>
							<p>图片压缩与优化软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042809679.png" alt=" Craft" />
						<div class="udesign-content">
							<div class="udesign-heading">Craft</div>
							<p>填充随机内容、样式整理、复制排版、云分享组件的PS、Sketch插件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042717178.png" alt="Spectrum" />
						<div class="udesign-content">
							<div class="udesign-heading">Spectrum</div>
							<p>配色工具，可以自动识别图片中的主色调。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042634154.png" alt="Optimage" />
						<div class="udesign-content">
							<div class="udesign-heading">Optimage</div>
							<p>图片优化，无损压缩软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042429730.png" class="udesign-img"
							alt="Touch Bar Preview" />
						<div class="udesign-content">
							<div class="udesign-heading">Touch Bar Preview</div>
							<p>Touch Bar Preview在 MacbookTouch-Bar 上预览设计的软件。</p>
						</div></a> 
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042344455.png" alt="Image2icon" />
						<div class="udesign-content">
							<div class="udesign-heading">Image2icon</div>
							<p>自定义设计各种规范图标。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114042140694.png" alt="Analog" />
						<div class="udesign-content">
							<div class="udesign-heading">Analog</div>
							<p>Mac版图片滤镜快捷处理软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114041930248.png" alt="IconFly" />
						<div class="udesign-content">
							<div class="udesign-heading">IconFly</div>
							<p>将图标针对不同设备批量处理尺寸的软件。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191114040941690.png" class="udesign-img"
							alt="ColorZilla for Chrome" />
						<div class="udesign-content">
							<div class="udesign-heading">ColorZilla for Chrome</div>
							<p>在线取色查色的Chrome内核浏览器插件。</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">在线工具</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129113106429.png" class="udesign-img"
							alt="ClippingMagic" />
						<div class="udesign-content">
							<div class="udesign-heading">ClippingMagic</div>
							<p>在线抠图工具</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115111421960.jpg" alt="Vecteezy" />
						<div class="udesign-content">
							<div class="udesign-heading">Vecteezy</div>
							<p>免费矢量素材搜索下载、SVG在线设计工具。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115111309276.jpg" alt="Coolors" />
						<div class="udesign-content">
							<div class="udesign-heading">Coolors</div>
							<p>配色方案生成与分享。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115111207714.png" class="udesign-img"
							alt="Hero Patterns" />
						<div class="udesign-content">
							<div class="udesign-heading">Hero Patterns</div>
							<p>可以自定义颜色的SVG格式背景图案生成器。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115111034867.jpg" alt="草料二维码生成器" />
						<div class="udesign-content">
							<div class="udesign-heading">草料二维码生成器</div>
							<p>二维码生成、美化等自定义服务。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115110850392.png" alt="云配色" />
						<div class="udesign-content">
							<div class="udesign-heading">云配色</div>
							<p>在线查询指定网站的配色,CSS,框架等信息。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115110815309.png" alt="百度流量研究院" />
						<div class="udesign-content">
							<div class="udesign-heading">百度流量研究院</div>
							<p>网民浏览器、分辨率、操作系统等占有率信息统计。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115110505568.jpg" alt="百度脑图" />
						<div class="udesign-content">
							<div class="udesign-heading">百度脑图</div>
							<p>在线思维导图工具。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115110325786.png" alt="比特虫" />
						<div class="udesign-content">
							<div class="udesign-heading">比特虫</div>
							<p>在线生成Favicon。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115110056624.jpg" alt="百度H5" />
						<div class="udesign-content">
							<div class="udesign-heading">百度H5</div>
							<p>移动H5在线制作平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115105937268.png" class="udesign-img"
							alt="Transfonter" />
						<div class="udesign-content">
							<div class="udesign-heading">Transfonter</div>
							<p>为设计师和前端开发者提供的在线Font-face生成工具。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115105641314.png" class="udesign-img"
							alt="Ultimate CSS Gradient Generator" />
						<div class="udesign-content">
							<div class="udesign-heading">Ultimate CSS Gradient Generator</div>
							<p>CSS3渐变效果在线生成器。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115105742896.png" class="udesign-img"
							alt="CSS Button Generator" />
						<div class="udesign-content">
							<div class="udesign-heading">CSS Button Generator</div>
							<p>CSS3按钮在线生成。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115104415421.png" class="udesign-img"
							alt="Screen Size" />
						<div class="udesign-content">
							<div class="udesign-heading">Screen Size</div>
							<p>在线查询不同设备的屏幕尺寸。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115104311572.png" alt="Canva" />
						<div class="udesign-content">
							<div class="udesign-heading">Canva</div>
							<p>在线设计作图工具。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191115053636174.png" alt="fluid" />
						<div class="udesign-content">
							<div class="udesign-heading">fluid</div>
							<p>移动原型在线设计工具。</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">图标设计</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095923753.png" alt="iconfont" />
						<div class="udesign-content">
							<div class="udesign-heading">iconfont</div>
							<p>阿里团队图标字体及图标素材下载平台 </p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095706728.png" alt="Icomoon" />
						<div class="udesign-content">
							<div class="udesign-heading">Icomoon</div>
							<p>矢量图打包成图标字体的技术平台 </p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095616219.png" alt="Easyicon" />
						<div class="udesign-content">
							<div class="udesign-heading">Easyicon</div>
							<p>图标搜索大全优秀的老牌</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095442611.png" class="udesign-img"
							alt="TheNounProject" />
						<div class="udesign-content">
							<div class="udesign-heading">TheNounProject</div>
							<p>高质量图标下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095408964.png" alt="iconfinder" />
						<div class="udesign-content">
							<div class="udesign-heading">iconfinder</div>
							<p>高质量付费图标下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095316767.png" alt="iconmonstr" />
						<div class="udesign-content">
							<div class="udesign-heading">iconmonstr</div>
							<p>精美免费简洁icons库</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095234238.png" alt="Logodust" />
						<div class="udesign-content">
							<div class="udesign-heading">Logodust</div>
							<p>特赞！提供开源免费的LOGO</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129095007950.png" alt="Iconjar" />
						<div class="udesign-content">
							<div class="udesign-heading">Iconjar</div>
							<p>[福利]图标素材管理神器破解版</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129094755601.png" alt="Flaticon" />
						<div class="udesign-content">
							<div class="udesign-heading">Flaticon</div>
							<p>海量扁平化免费的图标库 </p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129094712132.png" alt="iconstore" />
						<div class="udesign-content">
							<div class="udesign-heading">iconstore</div>
							<p>免费商用的高质量图标素材站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129094545937.png" alt="Logoeps" />
						<div class="udesign-content">
							<div class="udesign-heading">Logoeps</div>
							<p>各大国际品牌logo矢量图 </p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129094425891.png" class="udesign-img"
							alt="IOS icon Gallery" />
						<div class="udesign-content">
							<div class="udesign-heading">IOS icon Gallery</div>
							<p>IOS平台APP图标收录和欣赏</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129094315393.png" alt="JoyPixels" />
						<div class="udesign-content">
							<div class="udesign-heading">JoyPixels</div>
							<p>Emoji表情图标整理收费打包下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129094110619.png" alt="iconninja" />
						<div class="udesign-content">
							<div class="udesign-heading">iconninja</div>
							<p>海量图标搜索可生成css sprites</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129093934974.png" alt="icons8" />
						<div class="udesign-content">
							<div class="udesign-heading">icons8</div>
							<p>系统平台风格和web图标库</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129093554707.png" alt="iconsfeed" />
						<div class="udesign-content">
							<div class="udesign-heading">iconsfeed</div>
							<p>iOS系统应用图标收集和分享 </p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">字体设计</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20200318085347189.png" alt="识字体" />
						<div class="udesign-content">
							<div class="udesign-heading">识字体</div>
							<p>字客网旗下在线图片字体识别与辨认、字体预览、字体下载和识别社区的重要品...</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129031509237.png" alt="字由" />
						<div class="udesign-content">
							<div class="udesign-heading">字由</div>
							<p>设计师必备字体利器，国内外上千款精选字体</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129031326469.png" alt="字体天下" />
						<div class="udesign-content">
							<div class="udesign-heading">字体天下</div>
							<p>推荐！超过3万个中英文字体免费下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129030950597.png" alt="Lost Type" />
						<div class="udesign-content">
							<div class="udesign-heading">Lost Type</div>
							<p>推荐！字体都非常漂亮，展示方式悦目清新</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129030339231.png" class="udesign-img"
							alt="Abstract Fonts" />
						<div class="udesign-content">
							<div class="udesign-heading">Abstract Fonts</div>
							<p>超过十三万免费字体下载，包括大热的web字体</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129030107502.png" alt="Fontex" />
						<div class="udesign-content">
							<div class="udesign-heading">Fontex</div>
							<p>很酷的字体展现方式，字体免费可用于商业用途</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129030005649.png" alt="求字体" />
						<div class="udesign-content">
							<div class="udesign-heading">求字体</div>
							<p>在线识别找字体神器，并提供中文和英文字体库下载</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129025613913.png" alt="字体松鼠" />
						<div class="udesign-content">
							<div class="udesign-heading">字体松鼠</div>
							<p>100%免费下载可商用，专为设计师精心挑选！</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129025516978.png" alt="Typekit" />
						<div class="udesign-content">
							<div class="udesign-heading">Typekit</div>
							<p>Adobe Fonts，来自Adobe铸造的Fonts优质资源平台。</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129024957651.png" alt="字体传奇" />
						<div class="udesign-content">
							<div class="udesign-heading">字体传奇</div>
							<p>字体品牌设计师交流网，字体相关的教程、讲座等</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129024443962.png" alt="方正字库" />
						<div class="udesign-content">
							<div class="udesign-heading">方正字库</div>
							<p>方正字库字体官方下载</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">界面交互</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129085600892.png" alt="Flat UI" />
						<div class="udesign-content">
							<div class="udesign-heading">Flat UI</div>
							<p>扁平化UI设计灵感，采集扁平化相关的App、网页等</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129045037324.png" alt="CSSwinner" />
						<div class="udesign-content">
							<div class="udesign-heading">CSSwinner</div>
							<p>优秀CSS网站界面和交互设计获奖作品</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129044859553.png" class="udesign-img"
							alt="webdesignclip" />
						<div class="udesign-content">
							<div class="udesign-heading">webdesignclip</div>
							<p>丰富的日式响应式设计收录站点</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129044455477.png" alt="Noteloop" />
						<div class="udesign-content">
							<div class="udesign-heading">Noteloop</div>
							<p>收集科幻电影场景里UI交互界面</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129044639226.png" alt="muuuuu" />
						<div class="udesign-content">
							<div class="udesign-heading">muuuuu</div>
							<p>日本漂亮的酷站收集[需翻土嗇]</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129044114438.png" alt="Calltoidea" />
						<div class="udesign-content">
							<div class="udesign-heading">Calltoidea</div>
							<p>收集优秀UI组件元素设计的站点</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129044000920.png" class="udesign-img"
							alt="littlebigdetails" />
						<div class="udesign-content">
							<div class="udesign-heading">littlebigdetails</div>
							<p>设计细节动效灵感分享网站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129043742563.png" class="udesign-img"
							alt="Freebiesbug" />
						<div class="udesign-content">
							<div class="udesign-heading">Freebiesbug</div>
							<p>高质量设计网站、资源聚合站点</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129043321915.png" alt="collectUI" />
						<div class="udesign-content">
							<div class="udesign-heading">collectUI</div>
							<p>设计师灵感设计案例作品的站点</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129043156618.png" alt="Pttrns" />
						<div class="udesign-content">
							<div class="udesign-heading">Pttrns</div>
							<p>专业收集APP截图的网站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129043022483.png" class="udesign-img"
							alt="Freshdesign" />
						<div class="udesign-content">
							<div class="udesign-heading">Freshdesign</div>
							<p>MG动态效果展示</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129042802592.png" alt="UImovement" />
						<div class="udesign-content">
							<div class="udesign-heading">UImovement</div>
							<p>移动界面UI动效展示</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129042426821.png" alt="Reeoo" />
						<div class="udesign-content">
							<div class="udesign-heading">Reeoo</div>
							<p>全球最火热的酷站画廊</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">设计团队</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129073018786.png" alt="畅游CDC" />
						<div class="udesign-content">
							<div class="udesign-heading">畅游CDC</div>
							<p>畅游视觉设计中心</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129072617583.png" class="udesign-img"
							alt="Airbnb Design" />
						<div class="udesign-content">
							<div class="udesign-heading">Airbnb Design</div>
							<p>Airbnb Design 爱彼迎设计团队</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129053650519.png" class="udesign-img"
							alt="Google Design" />
						<div class="udesign-content">
							<div class="udesign-heading">Google Design</div>
							<p>Google谷歌大设计团队网站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129053422933.png" class="udesign-img"
							alt="Facebook Design " />
						<div class="udesign-content">
							<div class="udesign-heading">Facebook Design</div>
							<p>Facebook设计团队网站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129053224604.png" alt="JDC" />
						<div class="udesign-content">
							<div class="udesign-heading">JDC</div>
							<p>京东设计中心</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129053102577.png" alt="360UXC " />
						<div class="udesign-content">
							<div class="udesign-heading">360UXC</div>
							<p>360用户体验设计中心</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129052939362.png" alt="TGideas" />
						<div class="udesign-content">
							<div class="udesign-heading">TGideas</div>
							<p>腾讯游戏官方设计团队</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129052755925.png" alt="百度EUX" />
						<div class="udesign-content">
							<div class="udesign-heading">百度EUX</div>
							<p>百度企业产品用户体验中心</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129052459898.png" alt="阿里妈妈MUX " />
						<div class="udesign-content">
							<div class="udesign-heading">阿里妈妈MUX</div>
							<p>阿里妈妈体验工作平台</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129052237498.png" alt="腾讯MXD" />
						<div class="udesign-content">
							<div class="udesign-heading">腾讯MXD</div>
							<p>移动互联网设计中心</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129052038655.png" alt="腾讯CDC" />
						<div class="udesign-content">
							<div class="udesign-heading">腾讯CDC</div>
							<p>腾讯用户研究与体验设计中心</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129051955770.png" alt="腾讯ISUX" />
						<div class="udesign-content">
							<div class="udesign-heading">腾讯ISUX</div>
							<p>腾讯大厂社交用户体验设计</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129051742944.png" alt="eicodesign" />
						<div class="udesign-content">
							<div class="udesign-heading">eicodesign</div>
							<p>国内专业界设计团队</p>
						</div></a>
					</div>
				</div>
			</div>
			<div class="card">
				<h4 class="card-title">设计师们</h4>
				<div class="card-body">
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20200417031644712.jpg" alt="Pete" />
						<div class="udesign-content">
							<div class="udesign-heading">Pete</div>
							<p>UI Visual Design, UX Design Research, Web Design</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20200413115505844.png" alt="Emperorxyz" />
						<div class="udesign-content">
							<div class="udesign-heading">Emperorxyz</div>
							<p>新晋设计师个人博客小站</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129102507755.jpeg" alt="Gis1on" />
						<div class="udesign-content">
							<div class="udesign-heading">Gis1on</div>
							<p>Dribbble人气设计师，新生代设计师</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129102349846.jpeg" alt="Jadon7" />
						<div class="udesign-content">
							<div class="udesign-heading">Jadon7</div>
							<p>Dribbble人气设计师，阿里移动事业群RED第三工作室</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129102256635.jpg" class="udesign-img"
							alt="jiangxiaobei" />
						<div class="udesign-content">
							<div class="udesign-heading">jiangxiaobei</div>
							<p>Dribbble人气设计师</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129102111728.jpg" alt="小火" />
						<div class="udesign-content">
							<div class="udesign-heading">小火</div>
							<p>Dirbbble华人帮发起人，前iconfans（UI中国）联合创始人</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129101950112.jpg" alt="tczhang" />
						<div class="udesign-content">
							<div class="udesign-heading">tczhang</div>
							<p>动效达人，江湖人称“鸡总”</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129101822547.jpg" alt="牛Mo王" />
						<div class="udesign-content">
							<div class="udesign-heading">牛Mo王</div>
							<p>UI设计师、BigD创始人</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129101652201.png" alt="Limi" />
						<div class="udesign-content">
							<div class="udesign-heading">Limi</div>
							<p>UI设计师</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129101505684.jpg" alt="王坤" />
						<div class="udesign-content">
							<div class="udesign-heading">王坤</div>
							<p>芒果台合作设计师</p>
						</div></a>
					</div>
					<div class="udesign-item"><a href="">
						<img src="${ctxPath}/images/web/navigation/20191129100125934.jpg" alt="你丫才美工" />
						<div class="udesign-content">
							<div class="udesign-heading">你丫才美工</div>
							<p>严格意义来讲，打水印和打码一样，都是下流的凑性</p>
						</div></a>
					</div>
				</div>
			</div>
		</section>
	</main>
	<a class="to-top usucai icon-totop"></a>
</body>

</html>