<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>后台管理系统 - 首页</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <%include("inc/header.html"){}%>

</head>

<body class="gray-bg animated fadeInRight">
    <div class="wrapper wrapper-content">
        <div class="row">
        </div>
    </div>

    <%include("inc/footer.html"){}%>

</body>

</html>
