<header class="header cd-auto-hide-header">
    <nav class="nav">
        <div class="logo"><a class="usucai icon-logo" href="${ctxPath}/"></a></div>
        <div class="menu-list clearfix">
            <ul>
                <li class="current"><a href="${ctxPath}/">首页</a></li>
                <li><a href="${ctxPath}/rank">下载排行</a></li>
                <li><a target="_blank" href="${ctxPath}/udesign">设计师导航</a></li>
            </ul>
        </div>
        <div class="topsearch"><a title="搜索" href="${ctxPath}/search" class="usucai icon-search"></a></div>
        <div class="upload"><a class="usucai icon-upload" title="上传" href="${ctxPath}/material/add"></a></div>
        <div class="user"><a href=""><img src="${ctxPath}/images/web/avatar/avatar_04.jpg" alt=""></a></div>
    </nav>
</header>