<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="usucai" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="logo,素材,素材下载,logo下载,矢量素材,素材下载,矢量logo,UI设计,设计,图标,设计素材,design,logo设计,平面设计,UI设计,网站设计,APP设计" />
<meta name="description" content="优素材(usucai),设计师素材下载,专为UI设计,网页设计,平面设计等提供便利的平台" />
<link rel="shortcut icon " type="images/x-icon" href="images/favicon.png">
<link data-react-helmet="true" rel="apple-touch-icon" sizes="57x57" href="${ctxPath}/images/web/apple/apple-icon-57x57.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="60x60" href="${ctxPath}/images/web/apple/apple-icon-60x60.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="72x72" href="${ctxPath}/images/web/apple/apple-icon-72x72.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="76x76" href="${ctxPath}/images/web/apple/apple-icon-76x76.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="114x114" href="${ctxPath}/images/web/apple/apple-icon-114x114.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="120x120" href="${ctxPath}/images/web/apple/apple-icon-120x120.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="144x144" href="${ctxPath}/images/web/apple/apple-icon-144x144.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="152x152" href="${ctxPath}/images/web/apple/apple-icon-152x152.png"/>
<link data-react-helmet="true" rel="apple-touch-icon" sizes="180x180" href="${ctxPath}/images/web/apple/apple-icon-180x180.png"/>
<link rel="stylesheet" href="${ctxPath}/css/web/style.css">